<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UniversityDb"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=UniversityD;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="DefaultYear" value="1" />
		<add key="Theme" value="Light" />
	</appSettings>
</configuration>